

/*p3 external styling*/
p + p + p {
	color: yellowgreen;
}


/*universal selector*/
* {
	font-family: "Arial Black", monospace;
	font-size: 15px;
}


/*type selector*/
h1	{
	font-size: 30px;
}

#uppercase-letters {
	text-transform: uppercase;
}

/*class selector*/
.background-colors {
	background-color: lightgreen;
}

/*Attribute selector number 10 question*/
/*
ol [name] li{
	border: 1px solid blue;
}*/


/*adjacent sibling selector*/
img + ul {
	list-style-type: none;
}

/*descendant selector*/
section img {
	border-radius: 150px;
	height: 300px;
	width: 300px;
}

/*generic sibling selector*/
ul ~ p {
	text-align: center;
	color: #000;
}


/*child selector*/
body > section > ul > li {
	letter-spacing: 5px;
}